            <div class="footer">
                <div class="row navigation">
                    <div class="col-md-2 col-md-offset-1">
                        <a href="/arbetssokande/"><span>A</span>rbetssökande</a>
                    </div>
                    <div class="col-md-2">
                        <a href="/arbetsgivare/"><span>A</span>rbetsgivare</a>
                    </div>
                    <div class="col-md-2">
                        <a href="/lediga-platser/"><span>L</span>ediga platser</a>
                    </div>
                    <div class="col-md-2">
                        <a href="/om-bra-personal/"><span>O</span>m BraPersonal</a>
                    </div>
                    <div class="col-md-2">
                        <a href="/kontakta-oss/"><span>K</span>ontakta oss</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">BraPersonal Sverige AB, Pilefeltsgatan 73, 302 50 HALMSTAD, Telefon 035-463 20</p>
                    </div>
                </div>    
            </div>
        </div>
    </body>
</html>