<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Brapersonal - Rekrytering &amp; Placering - Liten personalbyrå - Stort engagemang!</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/css/brapersonal.css">
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <div class="pull-left logo">
                    <a href="/"><img src="/images/logo.gif" alt="Brapersonal.nu"></a>
                </div>
                <div class="pull-right slogan">
                    <img src="/images/slogan.gif" alt="Liten personalbyrå - Stort engagemang!">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="row navigation">
                <div class="col-md-3">
                    <a class="arbetssokande" href="/arbetssokande/">Arbetssökande</a>
                </div>
                <div class="col-md-3">
                    <a class="arbetsgivare" href="/arbetsgivare/">Arbetsgivare</a>
                </div>
                <div class="col-md-3">
                    <a class="om" href="/om-bra-personal/">Om BraPersonal</a>
                </div>
                <div class="col-md-3">
                    <a class="for-kraft-varme-branschen" href="/for-kraft-varme-branschen/">För Kraft-/Värme-branschen</a>
                </div>
            </div>