<!DOCTYPE html>
<html>
    <head>
        <title>{{ $.Site.Title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/css/brapersonal.css">
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <div class="pull-left logo">
                    <a href="/"><img src="/images/logo.gif" alt="Brapersonal.nu"></a>
                </div>
                <div class="pull-right slogan">
                    <img src="/images/slogan.gif" alt="Liten personalbyrå - Stort engagemang!">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="row navigation">
                <div class="col-md-3">
                    <a class="arbetssokande" href="/arbetssokande/">Arbetssökande</a>
                </div>
                <div class="col-md-3">
                    <a class="arbetsgivare" href="/arbetsgivare/">Arbetsgivare</a>
                </div>
                <div class="col-md-3">
                    <a class="om" href="/om-bra-personal/">Om BraPersonal</a>
                </div>
                <div class="col-md-3">
                    <a class="for-kraft-varme-branschen" href="/for-kraft-varme-branschen/">För Kraft-/Värme-branschen</a>
                </div>
            </div>